div#fancyfiles {
  padding: 10px 0 0px 0;
  position: relative;
}
div#fancyfiles .loading {
  color: #999;
  text-decoration: blink;
  border: 1px solid #E6E6E6;
  background-color: #F2F2F2;
  }
div#fancyfiles div.container {
    padding-left: 20px;
	right:0;
	position:relative;
	display:none;
 }
div#fancyfiles .ff_data {
  /* TO DO: can't seem to vertically align center this float */
	right:0px;
 }
div#fancyfiles i {
  position: absolute;
  right: 3.2em;
  font-style: normal;
  font-size: 0.8em;
  }
div#fancyfiles b {
  position: absolute;
  right: 8em;
  font-weight: normal;
  font-size: 0.8em;
  color: #999;
  }
div#fancyfiles div.ff_row {
  xclear: right;
  padding: 2px 0px 2px 10px ;
}
div#fancyfiles div.ff_row:hover {
  background-color: #FFC;
}

div#fancyfiles a.ff_closed {
  background: url(images/folder.png) left no-repeat;
	padding-left:40px !important;
  }
div#fancyfiles a.ff_open {
  background: url(images/folder_open.png) left no-repeat;
	padding-left:40px !important;
  }
div#fancyfiles .ff_file {
	background:url('images/file.gif') no-repeat left 2px;
  	vertical-align:middle; 
  	display:inline-block;
  	padding: 1px 0 1px 18px;
	overflow: hidden;
}
.ff_file.doc,.ff_file.docx,.ff_file.dot,.ff_file.dotx {background-image:url('images/doc.gif') !important;}
.ff_file.pdf {background-image:url('images/pdf.gif') !important;}
.ff_file.txt {background-image:url('images/txt.png') !important;}
.ff_file.rtf {background-image:url('images/rtf.gif') !important;}
.ff_file.zip {background-image:url('images/zip.gif') !important;}
.ff_file.png,.ff_file.jpg,.ff_file.jpeg,.ff_file.bmp,.ff_file.gif {background-image:url('images/img.png') !important;}
.ff_file.xls,.ff_file.xlsx {background-image:url('images/xls.gif') !important;}
.ff_file.ppt,.ff_file.pptx,.ff_file.pps,.ff_file.ppsx {background-image:url('images/ppt.gif') !important;}

div#fancyfiles div.ff_row:hover .ff_file:first {
	text-decoration:underline;	
}

div#fancyfiles a.ff_delete {
  position: absolute;
  right: 10px;
  background: url('images/trash.png') no-repeat center right;
  width: 16px;
  height: 16px;
  text-decoration: none;
 }
 
.ff_row.droppable.active {
	border:2px #ccc dashed; 
 }


/* fix spacing in K2 theme */
.primary .item .itemtext div {
  margin: 0;
  }
.primary .itemtext img {
  margin-left: 0px;
  padding: 0px;
  border: none;
  max-width: none;
}

form#-fancyfiles-tree-form {
	margin-bottom:4px !important;	
}

#ff-unlock-dragdrop {
	display:block;
 	color:#ccc !important;
  	font-size:0.8em;
  	padding-left:18px;
}
#ff-unlock-dragdrop a {
 	color:#aaa !important;
}
#ff-unlock-dragdrop.locked {   	background:url('images/lock.png') no-repeat;}
#ff-unlock-dragdrop.unlocked {   	background:url('images/unlock.png') no-repeat;}

#startFancyfiles.noDnD + .container {
	padding-left:0 !important;
}
#startFancyfiles {
	display:block;
	background: url(images/folder_open.png) left no-repeat;
	padding-left:40px !important;
}
#startFancyfiles.noDnD {
	display:none;
}